.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem;
  }
  
  .product-item {
    box-sizing: border-box;
    padding: 1.25rem;
    
  }
  
  /* Media query for screens between 320px and 767px */
  @media (min-width: 320px) and (max-width: 767px) {
    .product-item {
      flex: 1 0 100% !important; /* One item per row for screens between 320px and 767px */
      max-width: 100% !important;
    }
  }
  
  /* Media query for screens between 768px and 1023px */
  @media (min-width: 768px) and (max-width: 1023px) {
    .product-item {
      flex: 1 0 50% !important; /* Two items per row for screens between 768px and 1023px */
      max-width: 50% !important;
    }
  }
  
  /* Default styles for screens larger than 1023px (1024px and above) */
  .product-item {
    flex: 1 0 25%; /* Four items per row for screens larger than 1023px */
    max-width: 25%;
  }
  