/* Loader.js */
@keyframes egu6kZbeQl12_to__to {
    0%,
    33.333333%,
    66.666667%,
    to {
        transform: translate(0.000368px, -0.000006px);
    }
    16.666667%,
    50%,
    83.333333% {
        transform: translate(0.000368px, 6.212963px);
    }
}
@keyframes egu6kZbeQl113_s_do {
    0% {
        stroke-dashoffset: 26.775;
    }
    to {
        stroke-dashoffset: 157;
    }
}
/* Loader.js */

/* Header.js */
header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: white;

    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 3.125rem;
    padding: 0.625rem;
}
/* Header.js */

/* HeroSection.js */
.hero-section {
    background: #f4f6f5;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-section h1 {
    font-size: 5rem;
    font-weight: 900;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.hero-section h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.hero-section input {
    height: 3.125rem;
    border-radius: 0.625rem;
    border: none;
    width: 50%;
    padding: 0.625rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.hero-section button {
    background: black;
    color: white;
    border: none;
    border-radius: 0.625rem;
    padding: 0.9375rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
/* HeroSection.js  */

/* ProductList.js */

.productList-heading {
    font-weight: 900;
    text-align: center;
    margin: 1.25rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem;
}

.product-wrapper {
    position: relative;
    text-align: center;
}

.product-item {
    box-sizing: border-box;
    padding: 1.25rem;
    flex: 1 0 25%; /* Four items per row for screens larger than 1023px */
    max-width: 25%;
}

.product-item:hover {
    cursor: pointer;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 3.125rem;
    margin: 0.625rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out; /* Smooth hover transition */
}

.image-wrapper:hover {
    transform: translateY(-5px); /* Bounce effect on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3.125rem;
    background-color: rgba(0, 0, 0, 0.2); /* Light black overlay */
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Smooth overlay transition */
}

.image-wrapper:hover .overlay {
    opacity: 1; /* Show overlay on hover */
}

.product-image {
    border-radius: '3.125rem';
    width: '100%';
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) /* Adding text shadow */;
    /* You can adjust font size and other properties as needed */
}

/* Media query for screens between 320px and 767px */
@media (min-width: 320px) and (max-width: 767px) {
    .product-item {
        flex: 1 0 100% !important; /* One item per row for screens between 320px and 767px */
        max-width: 100% !important;
    }
}

/* Media query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    .product-item {
        flex: 1 0 50% !important; /* Two items per row for screens between 768px and 1023px */
        max-width: 50% !important;
    }
}

/* Add keyframes for bounce animation */
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
/* ProductList.js */

/* ProductDetails -> [id].js */
.productDetail-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.productDetail-subheading {
    font-size: medium;
    font-weight: 300;
}

#addToCard-button {
    background: black;
    color: white;
    border-radius: 0.625rem;
    border: none;
    padding: 0.625rem;
}

@media (min-width: 320px) and (max-width: 767px) {
    .productDetail-content {
        margin-top: 1.25rem !important;
    }
}

/* ProductDetails -> [id].js */

/* Footer.js */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    background: black;
    color: white;

    text-align: center;
    padding: 1.25rem;
}
/* Footer.js */
