.newsletterSubscriptionsBtn {
    background: black;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: none;
    padding: 0.625rem 1.25rem;
}

.newsletterSubscriptionsInput {
    padding: 0.625rem;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.newsletterHeading {
    font-size: 3.125rem;
    font-weight: 900;
    line-height: 4.375rem;
    letter-spacing: 0.03em;
}

.newsletterSubHeading {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.1875rem;
    letter-spacing: 0.03em;
}

.newsletterWrapper {
    background: #e5c643;
    height: fit-content;
    position: relative;
    bottom: 1.5625rem;
}
